@import "http://fonts.googleapis.com/earlyaccess/droidarabickufi.css";
body {
    background-color: #f8f8f8;
    font-family: 'Droid Arabic Kufi',tahoma;
    margin: 0;
    padding: 0;
}
body a {
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
h1 {font-size: 23px;}
#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    /*min-height: 568px;*/
    background-color: #fff;
}
.logo {
    height: 100px;
    text-align: center;
    background-color: #f5f5f5;
}
.logo img {
    margin: 0 auto;
    padding: 10px 0;
}
.clock {
	text-align:center;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:20px;
	font-weight:bold;
    margin:0px;
	color:#FFF;
	text-shadow: -1px 3px 5px rgba(0, 0, 0, 0.8);
    background-color: #e9e9e9;
}

.menu_head {
	text-align:right;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:18px;
	font-weight:bold;
    margin:0px;
	color:#FFF;
	text-shadow: -1px 3px 5px rgba(0, 0, 0, 0.8);
}


.date_day, .date_hijri, .date_miladi {
	text-align:center;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
    margin:0px;
	color:#FFF;
	text-shadow: -1px 3px 5px rgba(0, 0, 0, 1);
    background-color: #990000;
	padding:3px;
	border-top:solid 1px #FFFFFF;
}

.date_day{ font-size:22px; }
.date_hijri, .date_miladi{ font-size:16px; }

/* LOGIN FORM */
.login {
    height: 100vh;
    background-color: #555
}
.login .btn-primary {
    background-color: #464646
}
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 12px;
    height: 35px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 2;
    margin-bottom: 10px;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="button"], input[type="submit"], input[type="reset"], select
{
	padding:1px;
	background-color:#990000;
	color:#FFF;
	border:#000 1px solid;
	border-radius:2px;
}

input.logo-page
{
	padding:5px;
	background-color:#990000;
	color:#FFF;
	font-size:16px;
	font-weight:bold;
	border:#000 1px solid;
	border-radius:50px;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    margin-top: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall {
    margin-top: 50%;
    padding: 40px 0px 20px 0px;
    background-color: #e74458;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    border: 1px solid #fff;
    border-radius: 10px;
}
.login-title
{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    display: block;
}
.profile-img {
    width: 174px;
    height: 174px;
    margin: -125px auto 20px;
    display: block;
    -moz-border-radius: 50%;
}
.need-help
{
    margin-top: 20px;
    font-size: 12px
}
.new-account
{
    display: block;
    margin-top: 10px;
}
@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 250px 0 0;
        padding: 20px 30px;
        border-left: 1px solid #e7e7e7;
    }
}

a {
    color: #990000;
    text-decoration: none;
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    min-height: 50px;
    padding: 15px;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #333;
}

.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-top-links a {
    color: #fff;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    left: 0;
    right: auto;
}

.navbar-default {
    background-color: #e74c3c;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
    background-color: #424a5d;

}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
	background-color:#FC9 !important;
}

.sidebar ul li a.active {
    background-color: #e74c3c;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
    margin-top: 51px;
    position: absolute;
    width: 250px;
    z-index: 1;
}

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}